*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#editor config
.vscode/*
/nbproject/
#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
application/cache/
application/config/database.php
application/config/config.php
/vendor/
#mzvms
assets/uploads/checkin/*
assets/uploads/checkout/*
assets/uploads/qrcode/*
assets/uploads/idcard/*
